<article class="product-item">
    <div class="pc-up-info">
        <div class="pc-color-options">
            <div class="pc-black-circle"></div>
            <div class="pc-white-circle"></div>
            <div class="pc-grey-circle"></div>
        </div>
        <% if (locals.isAdmin) { %>
        <div class="pc-edit-product">
            <a href="/admin/products/<%= product.id %>">Edit Product</a>
        </div>
        <% } else { %>
            <a href="/products/<%= product.id %>">View Details</a>
        <% } %>
    </div>
    <div class="pc-img">
        <img src="<%= product.imageUrls[0] %>" alt=" <%= product.title %> ">
    </div>
    <div class="pc-down-info">
        <div class="pc-down-texts">
            <h2><%= product.title %></h2>
            <p><%= product.price %> ₺</p>
            <% if (locals.isAdmin) { %>
            <button class="btn btn-dark delete-btn" data-productid="<%= product.id %>" data-csrf="<%= locals.csrfToken %>">Delete</button>
            <% } %>
        </div>
        <div class="pc-down-fav">
            <img src="/images/fav-icon-ligth.png" alt="">
        </div>
    </div>
</article>